/.idea


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/
myenv/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.pyo
*.pyd
*.pid

## Django migrations
#*/migrations/*
#!*/migrations/__init__.py

# Media files
media/

# Static files
static/

# Local settings
local_settings.py

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# macOS specific files
.DS_Store

# Node.js dependencies
node_modules/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Test / Coverage reports
*.cover
*.py,cover
.coverage
.hypothesis/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
htmlcov/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

/Desktop
/trips/banners
/trips/uploads
/homepage/gallery_images
/homepage/banner_images
/banners
/uploads
/jb-venv
/important_command.txt
/*.exe